body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250vh;
  margin: 0;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  background-color: #104386;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.quiz-form {
  color: aliceblue;
}
.questao {
  margin-bottom: 20px;
}
.questao img {
  width: 100%;
  height: auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
radio {
  text-align: center;
}

img {
  position: center;
}
